<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Graphql Easy</title>

</head>
<body>
  <section>
    <div class="subtitle">
      <p>Graphql Dynamic</p>
    </div>
  </section>
</body>
</html>
